{% extends 'base.html' %} {% block content %} {% load static %}
<head>
    <title>View Receipts Image</title>
</head>
<body>
    {% include "scanner/navbar.html" %}
    <header>
        <h2>Recipts Images</h2>
    </header>
    <main class="container table-responsive">
        {% include 'partials/_messages.html' %}
        <table class="table table-striped table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Receipt File Name</th>
                    <th scope="col">Delete Receipt</th>
                    <th scope="col">Receipt Image</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt_image in receipts_images %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{receipt_image.1}}</td>
                    <td class="center-td">
                        <a href="{% url 'remove_receipt_image' receipt_image.0  %}" class="btn delete-btn" >
                            X
                        </a>
                    </td>
                    {% endfor %}
                    <td>
                        <img src="/media/{{receipt_image.2}}" height="150" width="75" />
                    </td>
                </tr>
            </tbody>
           
        </table>
    </main>
</body>
{% endblock %}