{% extends 'base_auth.html' %} {%load static%} {% block content %}
<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card" style="margin-top: 3rem">
      <div class="card-body">
        <div class="card-title py-2">
          <h4>Reset your password</h4>
        </div>

        <form action="{% url 'reset-password' %}" method="post">
          {% csrf_token %} {% include 'partials/_messages.html' %}
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              id="emailField"
              class="form-control form-control-sm mb-3"
              value="{{values.email}}"
            />
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-primary w-100 submit-btn"
          />
        </form>
        <div class="container text-center">
          <span class="text-lead lead">Don't have an account? </span><a href="{% url 'register' %}" class="text-decoration-none">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
