{% extends 'base_auth.html' %} {%load static%} {% block content %}
<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card" style="margin-top: 3rem">
      <div class="card-body">
        <div class="card-title py-2">
          <h4>Set your new password</h4>
        </div>

        <form action="{% url 'set-new-password' uid64 token %}" method="post">
          {% csrf_token %} {% include 'partials/_messages.html' %}
          
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              id="passwordField"
              class="form-control form-control-sm mb-1"
            />
            <div class="form-group pt-2">
              <input
                type="password"
                name="password2"
                placeholder="Confirm Password"
                id="passwordField2"
                class="form-control form-control-sm mb-1"
              />
            <small class="float-end py-2 showPasswordToggle">SHOW</small>
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-primary w-100 submit-btn"
          />
        </form>

      </div>
    </div>
  </div>
  <!-- for toggling SHOW for password -->
  <script src="{% static 'js/setnewpassword.js' %}"></script>
</div>
{% endblock %}
